{% extends "todo_app/base.html" %}

{% block title %}
  Hakkında
{% endblock title %}

{% block content %}
  
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><center>TO-DO</center></h1>
        <p class="lead"><center>Bu Python Django ile oluşturulmuş bit To-Do uygulamasıdır.</center></p>
        <p class="lead"><center>Yapılacak listeni oluşturup hayatını düzene sokabilirsin.</center></p>
        <p class="lead"><center>Çok kolay.</center></p>
        <p class="lead"><center>Sadece listeyi takip et.</center></p>
        <p class="lead"><center>:)</center></p>
        <br><br>
      <div class="text-center">
        <button type="button" class="btn btn-outline-success">To-Do Oluştur</button>
      </div>
    </div>
  </div>
{% endblock content %}